<template>
    <svg
        id="clock"
        :viewBox="`0 0 ${size.current} ${size.current}`"
        :width="size.current"
        :height="size.current"
    >
        <circle class="outerRing"
                v-show="circles.second.show"
                :cx="center" :cy="center"
                :stroke-width="circles.second.current"
                :r="radius(5)"/>
        <circle class="primCircle"
                :cx="center" :cy="center"
                v-show="circles.primary.show"
                :stroke-width="circles.primary.current"
                :r="radius(15)"
        />
        <g>
            <line
                class="spike"
                v-for="n of 12"
                :key="n"
                :stroke-width="spikes.stroke.current"
                :x1="coords(spikes.start.current, n * stepHour,'x')"
                :y1="coords(spikes.start.current, n * stepHour,'y')"
                :x2="coords(spikes.end.current, n * stepHour,'x')"
                :y2="coords(spikes.end.current, n * stepHour,'y')"
            />
        </g>
        <path class="triangle" :d="path"/>
        <g>
            <circle class="secCircle" :cx="timeCoords.hx" :cy="timeCoords.hy" :r="tickers.hour.current"/>
            <circle class="secCircle" :cx="timeCoords.mx" :cy="timeCoords.my" :r="tickers.minute.current"/>
            <circle class="secCircle" :cx="timeCoords.sx" :cy="timeCoords.sy" :r="tickers.second.current"/>
        </g>
        <text
            :style="`font-size: ${times.text.current}rem`"
            v-if="times.text.show"
            :x="center" :y="center"
            class="textTime">{{ fullTime }}
        </text>
    </svg>
</template>

<script>
export default {
    name: "app-clock",
    props: {
        schema: String,
        size: Object,
        times: Object,
        circles: Object,
        spikes: Object,
        tickers: Object,
    },
    data() {
        return {
            stepMinSec: 6,
            stepHour: 30,
            time: new Date()
        }
    },
    computed: {
        center() {
            return this.size.current / 2;
        },
        fullTime() {
            return this.time.toTimeString().slice(0, 8).replaceAll(':', ' : ');
        },
        timeCoords() {
            return {
                hx: this.coords(this.tickers.orbit.current, this.time.getHours() * this.stepHour + (Math.floor(this.time.getMinutes() / 12) * 6), 'x'),
                hy: this.coords(this.tickers.orbit.current, this.time.getHours() * this.stepHour + (Math.floor(this.time.getMinutes() / 12) * 6), 'y'),
                mx: this.coords(this.tickers.orbit.current, this.time.getMinutes() * this.stepMinSec, 'x'),
                my: this.coords(this.tickers.orbit.current, this.time.getMinutes() * this.stepMinSec, 'y'),
                sx: this.coords(this.tickers.orbit.current, this.time.getSeconds() * this.stepMinSec, 'x'),
                sy: this.coords(this.tickers.orbit.current, this.time.getSeconds() * this.stepMinSec, 'y')
            }
        },
        path() {
            const p = {
                h: this.timeCoords.hx + ',' + this.timeCoords.hy,
                m: this.timeCoords.mx + ',' + this.timeCoords.my,
                s: this.timeCoords.sx + ',' + this.timeCoords.sy
            }

            return `M${p.h} L${p.m} L${p.s} Z`;
        }
    },
    watch: {
        schema() {
            this.colorSchema();
        },
    },
    methods: {
        radius(r) {
            return this.size.current / 2 - r;
        },
        rad(angle) {
            return (Math.PI * (angle - 90)) / 180;
        },
        coords(r, angle, coord) {
            coord = coord === 'x' ? Math.cos(this.rad(angle)) : Math.sin(this.rad(angle));
            return this.center + this.radius(r) * coord;
        },
        colorSchema() {
            const schema = {
                b: {
                    '--main-color': '#252525',
                    '--second-color': '#f4f4f4',
                    '--tick-color': '#45d9fd',
                    '--triangle-color': '#ee2560',
                },
                l: {
                    '--main-color': '#f4f4f4',
                    '--second-color': '#252525',
                    '--tick-color': '#458afd',
                    '--triangle-color': '#ee2a25',
                },
            }

            for (let val in schema[this.schema]) {
                if (!schema[this.schema].hasOwnProperty(val)) continue;
                document.querySelector('#clock').style.setProperty(val, schema[this.schema][val])
            }
        }
    },
    mounted() {
        setInterval(() => {
            this.time = new Date()
        }, 1000)

        this.colorSchema()
    },
}
</script>

<style scoped lang="scss">
#clock {
    --main-color: #252525;
    --second-color: #f4f4f4;
    --tick-color: #45d9fd;
    --triangle-color: #ee2560;
}

.outerRing {
    fill: var(--main-color);
    stroke: var(--second-color);
    //stroke-dasharray: 4px;
}

.primCircle {
    fill: var(--main-color);
    stroke: var(--second-color);
}

.secCircle {
    fill: var(--tick-color);
    stroke: var(--main-color);
    stroke-width: 3px;
}

.spike {
    stroke: var(--second-color);
}

.textTime {
    fill: var(--second-color);
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 1.5rem;
    font-weight: 100;
}

.triangle {
    fill: var(--triangle-color);
}
</style>