<template>
    <div class="clock-container">
        <div class="clock">
            <app-clock
                :schema="schema"
                :size="clock.size.size"
                :times="clock.times"
                :circles="clock.circles"
                :spikes="clock.spikes"
                :tickers="clock.tickers"
            ></app-clock>

            <div class="burger" @click.stop="showAdjust = !showAdjust">
                <span></span><span></span><span></span>
            </div>
        </div>

        <div class="adjuster" v-show="showAdjust">
            <div class="block"
                 v-for="(blocks, key) in clock"
                 v-if="key !== 'schema'"
                 :key="key"
            >
                <h3 class="title-section">{{ key | firstToCap }}</h3>
                <div class="block__container">
                    <div class="row"
                         v-for="(el, idx) in blocks"
                         :key="idx"
                    >
                        <div class="input-block">
                            <span class="text">{{ idx }}: {{ el.current | roundNum }}</span>
                            <range-slider
                                class="slider-clock"
                                :min="el.min"
                                :max="idx === 'size' ? el.max : maxCalc(el, el.add, el.symbols)"
                                :step="el.step"
                                v-model="el.current"
                                :disabled="el.hasOwnProperty('show') ? !el.show : false ">
                            </range-slider>
                        </div>
                        <template v-if="idx === 'size'">
                            <button :class="{active: schema === 'l'}" @click="schema = 'l'">Light</button>
                            <button :class="{active: schema === 'b'}" @click="schema = 'b'">Black</button>
                        </template>
                        <button
                            v-if="el.hasOwnProperty('show')"
                            :class="{active: el.show}"
                            @click="el.show=!el.show"
                        >
                            Show {{ idx }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="to-default active" @click="toDefault">to default</button>
            </div>
        </div>
    </div>
</template>

<script>
import appClock from './app-clock'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'

export default {
    name: 'App',
    components: {
        'app-clock': appClock,
        RangeSlider
    },
    data() {
        return {
            schema: 'b',
            showAdjust: false,
            defaultClock: {
                size: {
                    size: {min: 200, max: 400, step: 5, current: 320, add: 0}
                },
                times: {
                    text: {min: 1, max: 2.5, step: 0.1, current: 1.5, add: 0.3, symbols: 1, show: true},
                },
                circles: {
                    primary: {min: 5, max: 15, step: 0.5, current: 10, add: 1, show: true},
                    second: {min: 2, max: 8, step: 0.5, current: 2, add: 1, show: true},
                },
                spikes: {
                    stroke: {min: 1, max: 12, step: 0.5, current: 2, add: 6},
                    start: {min: 5, max: 35, step: 1, current: 15, add: 20},
                    end: {min: 5, max: 35, step: 1, current: 30, add: 20},
                },
                tickers: {
                    second: {min: 3, max: 6, step: 0.5, current: 5, add: 1},
                    minute: {min: 7, max: 13, step: 0.5, current: 10, add: 1},
                    hour: {min: 10, max: 17, step: 0.5, current: 15, add: 1},
                    orbit: {min: 40, max: 60, step: 1, current: 50, add: 3},
                }
            },
            clock: {}
        }
    },
    methods: {
        maxCalc(elem, minAdd = 0, symbols = 0) {
            let max = elem.min + minAdd + ((elem.max - (elem.min + minAdd)) /
                (this.clock.size.size.max - this.clock.size.size.min)) *
                (this.clock.size.size.current - this.clock.size.size.min);

            max = symbols === 0 ? Math.round(max) : max.toFixed(symbols);
            elem.current = elem.current > max ? max : elem.current;
            return max;
        },
        toDefault() {
            this.clock = JSON.parse(JSON.stringify(this.defaultClock))
        }
    },
    filters: {
        firstToCap(el) {
            return el.slice(0, 1).toUpperCase() + el.slice(1)
        },
        roundNum(el) {
            return Math.round(el * 10) / 10
        }
    },
    created() {
        const storage = JSON.parse(localStorage.getItem('clock'))
        if (storage) {
            [this.schema, this.clock] = [storage[0], storage[1]]
        } else {
            this.clock = JSON.parse(JSON.stringify(this.defaultClock))
        }
    },
    mounted() {
        document.addEventListener('pointerdown', (e) => {
            if (!e.target.closest('.clock-container'))
                this.showAdjust = false
        })
    },
    updated() {
        const arr = [this.schema, this.clock]
        localStorage.setItem('clock', JSON.stringify(arr))
    }
}
</script>

<style scoped lang="scss">
.clock-container {
    display: flex;
    position: relative;

    .clock {
        position: relative;

        .burger {
            height: 25px;
            width: 25px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            cursor: pointer;
            opacity: 0;
            transition: 0.3s;

            span {
                position: absolute;
                display: block;
                content: '';
                height: 4px;
                width: 100%;
                background-color: #252525;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 11px;
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }

        &:hover .burger {
            opacity: 100;
        }
    }
}

.adjuster {
    display: block;
    left: 400px;
    margin-left: 15px;
    max-width: 340px;
    padding: 0 15px;
    position: absolute;
    background-color: #000000C0;
    box-shadow: 0 0 15px 0 #252525 inset;
    border-radius: 15px;

}

.title-section {
    color: #878787;
}

.block__container {
    display: flex;
    flex-wrap: wrap;

    .input-block {
        display: flex;
        align-items: center;
        position: relative;
        height: 30px;

        .text {
            padding-left: 10px;
            position: absolute;
            font-size: 12px;
            top: -11px;
            color: #878787;
        }
    }

    .active {
        background-color: #f4f4f4;
    }
}

.row {
    display: flex;
    padding-right: 20px;
    margin-bottom: 10px;

    button {
        border: none;
        background: none;
        text-transform: uppercase;
        font-weight: 600;
        outline: none;
        border-left: solid 1px #878787;
        color: #878787;
        border-radius: 0 10px 10px 0;
        padding: 0 15px;
        margin-left: 5px;
        cursor: pointer;

        &.to-default {
            height: 35px;
            padding: 0 30px;
            border-radius: 10px;

            &:active {
                background: none;
                color: #878787;
            }
        }

        &.active {
            background-color: #FFFFFF70;
            border-left: solid 1px #252525;
            color: #252525;
        }
    }
}
</style>

<style lang="scss">
.slider-clock {
    .range-slider-rail {
        height: 8px;
    }

    .range-slider-fill {
        background-color: #00000080;
    }

    .range-slider-knob {
        background-color: hsl(0, 0%, 20%);
    }
}
</style>
