<template>
    <clock-container></clock-container>
</template>

<script>
import ClockContainer from './components/app-clock-container'

export default {
    name: "App",
    components: {
        ClockContainer
    }
}
</script>

<style>
:root {
    --back-color: #252525;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-color: var(--back-color);*/
    font-weight: 300;
}
</style>